[user]
	email = andrew.champion@gmail.com
	name = Andrew Champion
	signingkey = E1F9EB33F0A035FA
[github]
	user = aschampion
[push]
	default = simple
[core]
	editor = vim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[grep]
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
	br = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	cane = commit --amend --no-edit
	all-sed = ! git ls-files | xargs sed -i -e
	addnw = !sh -c 'git diff -w --no-color "$@" | git apply --cached --ignore-whitespace' -
	blog = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
