[user]
	email = andrew.champion@gmail.com
	name = Andrew Champion
[github]
	user = aschampion
[push]
	default = simple
[core]
	editor = vim
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[grep]
	lineNumber = true
[alias]
	g = grep --break --heading --line-number
